@media (min-width: 1800px) {
  .container {
    max-width: 1710px;
  }
}

@media (max-width: 1199px) {
  h1 {
    font-size: 48px;
    line-height: normal;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 36px;
    line-height: normal;
  }

  .py-80 {
    padding: 40px 0;
  }

  .site-logo img {
    height: 60px;
  }
}

@media (min-width: 414px) {
  .grid-cols-xs-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 576px) {
  .grid-cols-sm-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-sm-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .grid-cols-sm-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 767px) {
  .grid-cols-md-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 767px) {
  .align-center {
    justify-content: center;
  }

  .multi-steup-card {
    padding: 40px;
    min-height: auto;
  }

  .iti-mobile .iti--container {
    left: 0px;
    right: 0;
    margin: 20px;
    width: auto;
  }

}

@media (max-width: 576px) {
  h1 {
    font-size: 27px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }

  .sm-svg {
    height: 25px;
    width: 25px;
  }

  .sm-svg-15 {
    height: 15px;
    width: 15px;
  }

  .min-wh-53 {
    min-width: 40px;
    min-height: 40px;
  }

  .themeicon {
    min-height: 65px;
    min-width: 65px;
  }

  .btn-theme-steup {
    width: 160px;
  }

  .btn-theme {
    padding: 16px;
  }

  .py-80 {
    padding: 30px 0;
  }

  .multi-steup-card {
    padding: 30px 25px;
  }

  .multi-steups .container {
    padding: 30px 15px;
  }

  input[type="text"],
  input[type="text"]:active input[type="text"]:focus-visible,
  select,
  select:focus-visible,
  input[type="text"]:focus-visible {
    padding: 15px 15px !important;
    font-size: 12px;
  }
}

/* @media (max-width: 479px) {

} */


/*
@media (max-width: 320px) {

} */